.clearfix:after {
	content: '';
	display: block;
	clear:both;
}
.clearfix {
	zoom:1;
}
img {
	vertical-align: top;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
* {
	margin:0;
	padding:0;
	list-style:none;
}
a {
	text-decoration: none;
	color: #000;
}

/*顶部*/

#top {
	width: 100%;
	margin-top: 10px;
}
#top #title {
	width: 1190px;
	margin:0 auto;
}
#top #title .ul1 li{
	float:left;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	
}

#top #title .ul1 li a:hover {
	color: red;
}
#top #title .ul2 li {
	float:left;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	padding:0 5px;
}
#top #title .ul2 .one a:hover {
	color: red;
}
#top #title .ul2 .two {
	width: 20px;
	height: 19px;
	background: url(bg/index-spirit.png) -93px 0;
	margin-top: 5px;
	margin-right: 5px;
}
#top #title .ul2 .three {
	width: 13px;
	height: 15px;
	border:1px solid #000;
	margin-right: 5px;
	margin-top: 5px;
}
#top #title .ul2 .three span {
	display: block;
	width: 9px;
	height: 10px;
	background: url(bg/index-spirit.png) -53px -20px;
	margin:0 auto;
	margin-top: 2.5px;

}
#top #title .ul2 .four {
	font-weight: bold;
	font-size: 14px;
}
#top #title .ul2 .last input{
	width: 160px;
	height: 26px;
	border:1px solid #e0061e;
	outline: none;
}
#top #title .ul2 .last button {
	width: 49px;
	height: 28px;
	background-color: #e0061e;
	color: #fff;
	text-align: center;
	line-height: 28px;
	border:none;
}

#logo {
	width: 1190px;
	margin:0 auto;
}
#logo #left {
	margin-top: 67px;
}
#logo #left .a1 {
	font-size: 16px;
	font-weight: bold;
}
#logo #left .a2 a{
	color: #4d4d4d;
	font-size: 12px;
}
#logo #left .a2 a:hover {
	color: #e0061e;
}
#logo #left .a3 {
	width: 96px;
	height: 23px;
	background-color: #e0061e;
	
	line-height: 23px;
	font-size: 12px;
	
}
#logo #left .a3 div {
	width: 15px;
	height: 12px;
	margin-top: 6px;
	margin-left: 9px;
	background: url(bg/index-spirit.png) -113px -2px;
}
#logo #left .a3 span {
	color: #fff;
	margin-left: 12px;
}
#logo #middle {
	margin-left: 290px;
	margin-top: 15px;
}
#logo #right {
	margin-top: 22px;
}

#lead {
	width: 100%;
	background-color: #000;
	margin-top: 10px;

}
#lead #center {
	width: 1190px;
	margin:0 auto;
	position: relative;

}
#lead #center .b3 {
	width: 768px;
	height: 300px;
	background-color: rgba(255,255,255,0.8);
	position: absolute;
	left:156px;
	top:40px;
	z-index: 10000;
	display: none;
}
#lead #center .b3 img {
	position: absolute;
	top:30px;
	right:10px;

}
#lead #center .b3 dl {
	margin-top: 10px;
	margin-left: 20px;
	width: 500px;
}
#lead #center .b3 dl dd {
	float:left;
	font-weight: bold;
	font-size: 14px;
	margin-right: 20px;
}
#lead #center .b3 dl dt {
	float:left;
	font-size: 14px;
	color: #ddd;
	margin-right: 10px;
}
#lead #center .b3 dl dt a:hover {
	color: red;
}
#lead #center .b1 li{
	float:left;
	height:40px;
	line-height: 40px;
	
	padding:0 15px;
}
#lead #center .b1 li span {
	color: #fff;
}
#lead #center .b1 li:hover {
	background-color: #e0061e;
}
#lead #center .b2 {
	cursor: pointer;
}
#lead #center .b2 .c1 {
	width: 55px;
	height: 40px;
	background-color: #e0061e;
	margin-right: 1px;

}
#lead #center .b2 .c1 div {
	width: 36px;
	height: 18px;
	background: url(bg/index-spirit.png) -53px 0px;
	margin-top: 8px;
	margin-left: 8px;

}
#lead #center .b2 .c2 {
	height: 40px;
	width: 175px;
	background-color: #e0061e;
}
#lead #center .b2 .c2 div {
	width: 31px;
	height: 13px;
	background: url(bg/index-spirit.png) -95px -67px;
	margin-top: 13px;
	margin-left: 12px;

}
#lead #center .b2 .c2 span {
	line-height: 40px;
	color: #fff;
	margin-left: 5px;
}

#banner {
	width: 100%;
	height: 500px;
	overflow: hidden;
}
#banner .d1 {
	position: relative;
	z-index: 100;
	height: 500px;
	/*overflow: hidden;*/
}
#banner .d1 li {
	float:left;
	/*display: none;*/
	position: absolute;
}
#banner .d1 li img {
	width: 100%;
	height: 250px;
}

#loho {
	width: 1190px;
	margin:0 auto;

}
#loho #top1 {
	width: 100%;
	height: 52px;
	overflow: hidden;
	border-bottom: 3px solid #000;
	
}
#loho #top1 span {
	font-size: 18px;
	font-weight: bold;
	margin-top: 25px;
	display: block;
}
#loho #bottom1 ul li {
	float: left;
	width: 296px;
	
}
#loho #bottom1 ul li img {
	margin-bottom: 2px;
}
#loho #bottom1 ul .first {
	margin-right: 2px;
}


.f1 {
	width: 1190px;
	margin:0 auto;
}
.top {
	width: 100%;
	height: 52px;
	overflow: hidden;
	border-bottom: 3px solid #000;
}
.top .f2 {
	font-size: 18px;
	font-weight: bold;
	margin-top: 25px;
	display: block;
}
.top .f3 a{
	font-size: 14px;
	color: #808080;
	
}
.top .f3 {
	margin-top: 30px;
}
.bottom {
	width: 100%;
}
.left {
	width: 250px;
	height: 515px;
	border:1px solid #d3d3d3;
}
.v1 {
	width: 220px;
	margin:0 auto;
	margin-top: 15px;
}
.v2 {
	width: 220px;
	height: 66px;
	margin:0 auto;
	margin-top: 5px;
	background-color: #000;
}
.v2 li {
	float: left;
	margin:0 20px;
	margin-top: 10px;
}
.v2 li a {
	color: #fff;
	font-size: 14px;
}
.v3 {
	width: 220px;
	margin:0 auto;
	margin-top: 10px;

}
.v3 li {
	width: 100%;
	height: 38px;
	border-bottom: 1px solid #d3d3d3;
	line-height: 38px;
	text-indent: 5px;

}
.v3 li a {
	color: #808080;
	font-size: 12px;

}
.v3 li a:hover {
	text-decoration: underline;
	color: #111;
	font-size: 14px;
}
.v4 {
	width: 220px;
	margin:0 auto;
}
.v4 .n1 {
	width: 16px;
	height: 16px;
	border:1px solid #d3d3d3;
	
	text-align: center;
	line-height: 16px;
	font-size: 12px;
	color: #123;
	margin-top: 8px;
}

.v4 .n2 {
	width: 16px;
	height: 16px;
	border:1px solid #d3d3d3;
	text-align: center;
	line-height: 16px;
	font-size: 12px;
	color: #123;
	margin-right: 10px;
	margin-top: 8px;
}
.right {
	width: 925px;
}
.right li {

	width: 296px;
	margin-left: 1px;
}
.right .hhh {
	width: 328px;
}
.right li img {
	margin-bottom: 1px;
}
.right .sss {
	position: relative;
	height: 514px;
	width: 328px;
	overflow: hidden;
}
.right .sss .s1 {
	
	overflow: hidden;
	width: 328px;
	height: 514px;

}
.right .sss .s1 li {
	overflow: hidden;
	position: absolute;
}
.right .sss .s1 li img{
	float:left;
}
.right .sss .s2 {
	position: absolute;
	right:10px;
	bottom:10px;
}
.right .sss .s2 li {
	float:left;
	width: 10px;
	height: 10px;
	background-color: #ccc;
	border-radius: 50%;
	margin-left: 5px;
}
.right .sss .s2 li.active {
	background-color: #000;
}



#shaya {
	width: 1190px;
	margin:0 auto;
	margin-top: 20px;
}

#shaya #left2 {
	width: 282px;
	height: 245px;
	border:1px solid #ddd;
	border-top: 3px solid #000;
	position: relative;
}
#shaya #left2 ul {
	float: left;
	width: 140px;
	height: 35px;
	

}
#shaya #left2 ul .kkk {
	width: 100%;
	height: 100%;
	line-height: 35px;
	text-align: center;
	font-size: 14px;
	color: #4d4d4d;

}
#shaya #left2 ul.live {
	
	
	border:1px solid #ddd;
	background-color: #eee;
	color: #000;
}

#shaya #left2 ul .jjj {
	width: 260px;
	position:absolute;
	left:15px;
	top:36px;
	display: none;
}
#shaya #left2 ul .jjj a {
	display: block;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	color: #4d4d4d;
	overflow: hidden;
}
#shaya #left2 ul .jjj a:hover {
	color: red;
}
#shaya #middle2 {
	margin-left: 16px;
	width: 585px;
	height: 245px;
	border:1px solid #ddd;
	border-top: 3px solid #000;
}
#shaya #right2 {
	width: 284px;
	height: 245px;
	border:1px solid #ddd;
	border-top: 3px solid #000;
}
#shaya #right2 #top2 {
	width: 100%;
	height: 35px;
	border-bottom: 1px solid #ddd;
	line-height: 35px;
	font-size: 14px;
	font-weight: bold;
	text-indent: 10px;
}
#shaya #right2 #bottom2 {
	width: 263px;
	margin:0 auto;
	margin-top: 10px;
}
#shaya #right2 #bottom2 img {
	width: 100%;
}
#shaya #middle2 {
	overflow: hidden;
}
#shaya #middle2 #top3 {
	width: 100%;
	height: 35px;
	border-bottom: 1px solid #ddd;
	line-height: 35px;
	font-size: 14px;
	font-weight: bold;
	text-indent: 10px;
}
#shaya #middle2 #bottom3 {
	position: relative;
	height: 213px;
	overflow: hidden;
}
#shaya #middle2 ul {
	position: absolute;
	overflow: hidden;
	/*top:0;*/
	left:0;
}
#shaya #middle2 #bar {
	width: 10px;
	height: 20px;
	background-color: #000;
	position: absolute;
	top:0;
	right:0;
}
#shaya #middle2 ul li {
	width: 100%;
	height: 87px;
	border-bottom: 1px dashed #ddd;
}
#shaya #middle2 ul li img {
	width: 163px;
	height: 65px;
	margin-left: 10px;
	margin-top: 10px;
}
#shaya #middle2 ul li div {
	margin-left: 10px;
	margin-top: 10px;
	font-size: 14px;
}
#shaya #middle2 ul li div dl dd {
	margin-bottom: 5px;
}
#shaya #middle2 ul li div dl dd span {
	color: #4d4d4d;
}
#shaya #middle2 ul li div dl dd .gg {
	color: #fff;
	/*width: 80px;*/
	padding:3px;
	display: block;
	border-radius: 4px;
	background-color: #ff8888;
	margin-right: 5px;
}

#en {
	width: 1190px;
	height: 194px;
	margin:0 auto;
	background-color: #efefef;
	margin-top: 20px;
}
#en ul {
	margin-left: 8px;
}
#en li {
	width: 283px;
	float:left;
	margin-left: 8px;
	margin-top: 32px;
}
#en li img {
	margin-bottom: 12px;
}

#foot {
	width: 1190px;
	height: 288px;
	background-color: #000;
	
	margin:0 auto;
	margin-top: 15px;
}
#foot #foot-top {
	width: 100%;
	height: 65px;
	border-bottom: 1px solid #262626;
}
#foot #foot-top .p1 {
	position: relative;
	margin-top: 20px;
	margin-left: 10px;

}
#foot #foot-top .p1 p {
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 1px;
	padding-left: 40px;
}
#foot #foot-top .p1 p span {
	color: #d0280c;
	letter-spacing: 1px;
}
#foot #foot-top .p1 div {
	position: absolute;
	width: 26px;
	height: 20px;
	background: url(bg/index-spirit.png) -26px -4px;
	top:10px;
	left:5px;
}
#foot #foot-top .p2 {
	position: relative;
	margin-top: 35px;
	margin-left: 20px;
}
#foot #foot-top .p2 p {
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 1px;
	padding-left: 40px;
}
#foot #foot-top .p2 p span {
	color: #d0280c;
	letter-spacing: 1px;
	font-weight: normal;

}
#foot #foot-top .p2 div {
	position: absolute;
	width: 26px;
	height: 25px;
	background: url(bg/index-spirit.png) 0 -3px;
	top:-4px;
	left:5px;
}
#foot #foot-middle {
	position: relative;
}
#foot #foot-middle .ls {
	position: absolute;

}
#foot #foot-middle ul{
	float: left;
	width: 135px;
	margin-top: 25px;
	height: 100px;
	margin-left: 20px;
}
#foot #foot-middle ul li {
	font-size: 12px;
	
	margin-bottom: 12px;
}
#foot #foot-middle ul li a {
	color: #666;
}
#foot #foot-middle ul li a:hover {
	color: #ddd;
}
#foot #foot-middle .ls {
	position: absolute;
	right:48px;
	top:20px;
}
#foot #foot-middle .ls p {
	color: #fff;
	margin-top: 10px;
	font-size: 14px;
}